<ActionBar title="Pokedex">

  <StackLayout orientation="horizontal">
    <Image src="https://image.noelshack.com/fichiers-md/2015/07/1423868157-3697-card-communaute.png" stretch="aspectFit" class="navBarImg"></Image>
    <SearchBar id="searchBar" hint="Enter search term here ..." [text]="sbText" clear="onClear" submit="onSubmit"></SearchBar>
  </StackLayout>

</ActionBar>

<ListView [items]="pokemonList">

  <ng-template let-item="item">

    <StackLayout orientation="horizontal">

      <StackLayout orientation="vertical">

        <Label [text]="item.id" class="title"></Label>
        <Image [src]="item.imageSrc" stretch="aspectFit"></Image>

      </StackLayout>

      <StackLayout orientation="vertical">

        <Label [text]="item.name" class="title"></Label>
        <Label [text]="item.type"></Label>

      </StackLayout>

    </StackLayout>

  </ng-template>

</ListView>
