<ActionBar title="Pokedex"></ActionBar>

<ListView [items]="pokemonList">
  <ng-template let-item="item">
    <StackLayout orientation="horizontal">

      <StackLayout orientation="vertical">

        <Label [text]="item.id" class="title"></Label>
        <Image [src]="item.imageSrc" stretch="aspectFit"></Image>

      </StackLayout>

      <StackLayout orientation="vertical">

        <Label [text]="item.name" class="title"></Label>
        <Label [text]="item.type"></Label>

      </StackLayout>

    </StackLayout>
  </ng-template>
</ListView>
